---
import About from "../components/About.astro";
import Artist from "../components/Artist.astro";
import Artwork from "../components/Artwork.astro";
import HeroSection from "../components/HeroSection.tsx";
import MintSection from "../components/MintSection.astro";
import NftGallery from "../components/NftGallery.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="NFT Market.">
	<main>
		<HeroSection client:load />
		<NftGallery />
		<MintSection />
		<About />
		<Artwork />
		<Artist />
	</main>
</Layout>

<style></style>
