---
import HeroSection from "../components/HeroSection.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="NFT Market.">
	<main>
		<HeroSection client:load />
	</main>
</Layout>

<style></style>
