---
import { Sprite } from "astro-icon";
type artist = {
    img: string;
    name: string;
};
const artistData: artist[] = [
    {
        img: "./artist/02.png",
        name: "Steph Jobs",
    },

    {
        img: "./artist/03.png",
        name: "Andry Moray",
    },

    {
        img: "./artist/01.png",
        name: "Zaid Ed",
    },

    {
        img: "./artist/04.png",
        name: "Laila Ed",
    },

    {
        img: "./artist/05.png",
        name: "John Clark",
    },
];
---

<section class="section artist-section">
    <h2>Meet the artists</h2>
    <div class="artist-wrapper">
        {
            artistData.map((artist) => {
                let { img, name } = artist;
                return (
                    <div class="artist-comp">
                        <img loading="lazy" src={img} alt={name} />
                        <p>{name}</p>
                        <small>Artist</small>
                        <div class="icons-wrapper">
                            <Sprite.Provider>
                                <Sprite name="jam:twitter" />
                            </Sprite.Provider>
                            <Sprite.Provider>
                                <Sprite name="uil:discord" />
                            </Sprite.Provider>
                            <Sprite.Provider>
                                <Sprite name="uil:instagram" />
                            </Sprite.Provider>
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import ScrollTrigger from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    const artists = document.querySelectorAll(
        ".artist-comp",
    ) as NodeListOf<HTMLDivElement>;
    const artistSection = document.querySelector(
        ".artist-section",
    ) as HTMLTableSectionElement;

    function showArtists() {
        artists.forEach((artist, index) => {
            gsap.fromTo(
                artist,
                {
                    opacity: 0,
                    y: -400,
                    ease: "elastic.out(i,0.75)",
                    duration: 2.5,
                    delay: index * 0.2,
                },
                {
                    scrollTrigger: {
                        trigger: artistSection,
                        start: "20% 20%",
                        end: "bottom 80%",
                    },
                    opacity: 1,
                    y: 0,
                    duration: 2.5,
                    delay: index * 0.2,
                    ease: "elastic.out(i,0.75)",
                },
            );
        });
    }
    document.addEventListener("DOMContentLoaded", () => {
        if (window.innerWidth >= 800) {
            showArtists();
        }
    });
</script>

<style>
    [astro-icon] {
        width: 22px;
        height: 22px;
        color: #fff;
    }
    .artist-wrapper {
        display: inline-flex;
        align-items: baseline;
        flex-wrap: wrap;
        align-content: stretch;
        gap: 2rem;
        justify-content: center;
    }
    .artist-comp {
        background: var(--comp-background);
        border-radius: 20px;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        max-width: 230px;
        gap: 0.2rem;
        text-align: center;
    }
    .artist-comp p {
        font-family: var(--font-Lilita);
        font-size: 1.2rem;
        margin: 1.2rem 0 2px;
    }
    .artist-comp small {
        font-family: var(--font-Poppins);
        color: #ccc;
    }
    .icons-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
    }
    .artist-comp img {
        height: 230px;
        border-radius: 15px;
        object-fit: cover;
    }
    @media (hover: hover) {
        [astro-icon] {
            cursor: pointer;
            transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
        [astro-icon]:hover {
            scale: 1.3;
        }
    }

    @media Screen and (min-width: 1000px) {
        .artist-section {
            justify-content: center;
        }
        .artist-wrapper {
            width: 100%;
            margin: 2rem auto;
        }
        .artist-comp:nth-child(odd) {
            transform: translateY(30px);
        }
        .artist-comp:nth-child(even) {
            transform: translateY(-30px);
        }
    }
</style>
