---
const imageData: { img: string; price: number }[] = [
    {
        img: "./Nft-Images/monkey.jpg",
        price: 280,
    },

    {
        img: "./Nft-Images/neon.jpg",
        price: 599,
    },

    {
        img: "./Nft-Images/south-pacific.jpg",
        price: 159,
    },

    {
        img: "./Nft-Images/tiger.jpg",
        price: 399,
    },

    {
        img: "./Nft-Images/monkey-2.jpg",
        price: 499,
    },

    {
        img: "./Nft-Images/viking.jpg",
        price: 279,
    },

    {
        img: "./Nft-Images/cat-nft.jpg",
        price: 489,
    },

    {
        img: "./Nft-Images/monkey-3.jpg",
        price: 649,
    },
];
---

<section class="section nft-gallery">
    <h2>nft gallery</h2>
    <div class="nft-gallery-wrapper">
        {
            imageData.map((data, index) => {
                return (
                    <div
                        style={{ backgroundImage: `url(${data.img})` }}
                        class="nft-image"
                    >
                        <div class="details-container">
                            <span class="nft-price">${data.price}</span>
                            <button class="btn buy-btn">Buy</button>
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>

<style>
    :root {
        --spread-radius: 5px;
        --detail-container-radius: 30px;
    }
    .nft-gallery {
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
    }

    .nft-gallery-wrapper {
        display: inline-flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .nft-image {
        width: 300px;
        height: 330px;
        position: relative;
        background-size: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }

    .details-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-top: 3px solid #b392b2;
        background: #0000009c;
        backdrop-filter: blur(15px);
        font-weight: 500;
        color: #fff;
        font-size: 1.1rem;
        border-radius: 30px 30px 0 0;
    }
    .nft-price {
        --price-color: #72ece2;
        background: #08080894;
        border: 1px solid var(--price-color);
        color: var(--price-color);
        padding: 7px 1.5rem;
        border-radius: 2px;
    }
    .btn {
        --button-color: #f45ed4;
        border: 1px solid var(--button-color);
        color: var(--button-color);
        outline: none;
        padding: 7px 1.5rem;
        border-radius: 2px;
        background: #08080894;
        font-size: 1.1rem;
    }

    @media (hover: hover) {
        .btn:hover {
            --button-color: #f29f64;
            border-color: transparent;
            background: var(--button-color);
            color: #000;
        }
    }

    @media Screen and (min-width: 800px) {
        .nft-gallery {
            gap: 5rem;
            display: flex;
        }
        .nft-gallery-wrapper {
            gap: 4rem;
        }
        .nft-image {
            transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            width: 340px;
            height: 340px;
        }

        .details-container {
            height: 40%;
            transform: translateY(100px);
            opacity: 0;
            transition: 0.3s linear;
        }

        .nft-image:hover {
            background-size: 60vh;
            scale: 1.05;
        }

        .nft-image:hover .details-container {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
