---
import Navbar from "../components/Navbar.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Lilita+One&family=Luckiest+Guy&family=Poppins:wght@400;500;600;700&family=Titan+One&family=Zeyada&display=swap");
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--font-Poppins: "Poppins", sans-serif;
		--font-Lilita: "Lilita One", sans-serif;
		--font-Titan: "Titan One", sans-serif;
		--font-Luckiest: "Luckiest Guy", sans-serif;
		--font-Zeyada: "Zeyada", sans-serif;
		--font-Carter: "Carter One", sans-serif;
	}
	* {
		margin: 0;
		padding: 0;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		overflow-x: hidden;
	}
	body {
		min-height: 100vh;
		overflow-x: hidden;
		position: relative;
		/* background: #13151a; */
		background: linear-gradient(to left, #100b20, #150b15);
		background-repeat: no-repeat;
	}
	h1,
	h2,
	h3 {
		font-family: var(--font-Luckiest);
		font-weight: 500;
	}

	/* Scrollbar Styling */
	html::-webkit-scrollbar {
		width: 7px;
		background: #3b3a3b;
	}
	html::-webkit-scrollbar-thumb {
		background: #e6e6e6;
		border-radius: 20px;
		overflow-x: hidden;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	main {
		flex-direction: column;
		display: flex;
		gap: 1rem;
		/* padding: 2rem; */
		color: #fff;
	}

	@media (hover: hover) {
		button {
			cursor: pointer;
		}
	}
</style>
