---
import Navbar from "../components/Navbar.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Lilita+One&family=Luckiest+Guy&family=Poppins:wght@400;500;600;700&family=Titan+One&family=Zeyada&display=swap");
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--font-Poppins: "Poppins", sans-serif;
		--font-Lilita: "Lilita One", sans-serif;
		--font-Titan: "Titan One", sans-serif;
		--font-Luckiest: "Luckiest Guy", sans-serif;
		--font-Zeyada: "Zeyada", sans-serif;
		--font-Carter: "Carter One", sans-serif;
	}
	* {
		margin: 0;
		padding: 0;
		font-family: var(--font-Poppins);
	}
	html {
		font-family: system-ui, sans-serif;
		overflow-x: hidden;
	}
	html,
	body {
		scroll-behavior: smooth !important;
	}
	body {
		min-height: 100vh;
		overflow-x: hidden;
		position: relative;
		background: linear-gradient(to left, #100b20, #150b15);
		/* background: linear-gradient(to left, #0d0d16, #1a141a); */
		background-repeat: no-repeat;
	}
	body::before {
		content: "";
		position: fixed;
		bottom: 0;
		right: 0;
		border-radius: 50%;
		height: 30%;
		width: 20%;
		background: linear-gradient(
			to top,
			rgba(31, 129, 240, 0.25),
			rgba(244, 91, 175, 0.25)
		);
		filter: blur(70px);
		z-index: -1;
	}
	h1,
	h2,
	h3 {
		font-family: var(--font-Luckiest);
		font-weight: 500;
	}

	/* Scrollbar Styling */
	html::-webkit-scrollbar {
		width: 10px;
		background: #2b2b2b;
		/* background: transparent; */
	}
	html::-webkit-scrollbar-thumb {
		background: #95fc51;
		border-radius: 0 20px 20px 0;
		overflow-x: hidden;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	main {
		flex-direction: column;
		display: flex;
		gap: 1rem;
		align-items: center;
		color: #fff;
	}

	@media (hover: hover) {
		button {
			cursor: pointer;
		}
	}
	p {
		font-family: var(--font-Poppins);
	}

	.logo {
		font-family: var(--font-Zeyada);
		font-weight: 700;
		text-shadow: 0 0 15px #c36cf596;
		white-space: nowrap;
		font-size: clamp(1.6rem, 2.5vw, 2rem);
		background: linear-gradient(to right, #fadc7f, #ed5ef2);
		text-transform: uppercase;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: background-change 16s infinite linear;
	}
	@keyframes background-change {
		0% {
			background-position: 0 0;
		}

		25% {
			background-position: 20vh 20vh;
		}

		50% {
			background-position: 40vh 40vh;
		}

		75% {
			background-position: 60vh 60vh;
		}

		100% {
			background-position: 80vh 80vh;
		}
	}

	a,
	a:active,
	button,
	button:active {
		-webkit-tap-highlight-color: transparent;
	}
</style>

<script>
	import { gsap } from "gsap";
	import ScrollTrigger from "gsap/dist/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	const h2Headings = document.querySelectorAll(
		"h2",
	) as NodeListOf<HTMLHeadingElement>;

	h2Headings.forEach((heading) => {
		gsap.fromTo(
			heading,
			{
				opacity: 0,
				y: -300,
				ease: "elastic.out(i,0.75)",
				duration: 2,
			},

			{
				scrollTrigger: {
					trigger: heading,
					start: "80% 80%",
					end: "bottom bottom",
				},
				opacity: 1,
				y: 0,
				duration: 2,
				ease: "elastic.out(i,0.75)",
			},
		);
	});
</script>
